// Breakpoints

$medium-breakpoint: 550px;
$large-breakpoint: 1060px;

//Color Palette

$pastel-pink: #ffbcb7;
$deep-pink: darken(#fe928a, 10%);
$off-black: #1a1919;
$white: #fff;

// Margins
$item-margin: 20px;
