// Posts Gallery

.gallery-item {
  position: relative;
  .item-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    @include transparency(255, 255, 255, 0.7);
    padding: 20px;
  }
  @media screen and (min-width: $large-breakpoint) {
    &:hover {
      .item-label {
        opacity: 1;
        height: 100%;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }
    }
    .item-label {
      opacity: 0;
    }
  }
}
