// Featured post

.featured-post {
  border: 1px solid grey;
  @include border-top-radius(5px);
  padding: 10px;
  margin-bottom: 20px;
  a {
    display: block;
    margin: 5px 0;
  }
}

// Posts Gallery

.posts-gallery {
  background-color: #eee;
  &::after {
    @include clearfix;
  }
  padding-bottom: 30px;
  margin-bottom: 20px;
}


.gallery-item {
  position: relative;
  .item-label {
    position: absolute;
    top: 0;
    @include transparency(#fff, 0.7);
    padding: 20px;
    .long-text {
      display: none;
    }
  }
  @media screen and (min-width: $medium-breakpoint) {
    .item-label {
      opacity: 1;
      top: 0;
      bottom: 0;
    }
  }
  @media screen and (min-width: $large-breakpoint) {
    &:hover {
      .item-label {
        opacity: 1;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }
    }
    .item-label {
      opacity: 0;
    }
  }
}
