// Wireframing
*:not(body):not(html) {
  box-sizing: border-box;
  border: 1px solid grey;
}

// Body columns
.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  background-color: #eee;
  &::after {
    @include clearfix;
  }
}

.blog-main {
  @media screen and (min-width: $medium-breakpoint) {
    width: 70%;
    float: left;
  }
}

.sidebar {
  .profile-pic {
    img {
      width: 100%;
    }
  }
  @media screen and (min-width: $medium-breakpoint) {
    width: 30%;
    float: right;
  }
}

// Post Gallery
.posts-gallery {
  .gallery-col {
    height: 500px;
    .gallery-item {
      height: 150px;
      margin: $item-margin 0;
    }
    @media screen and (min-width: $medium-breakpoint) {
      width: 48%;
      margin: 1%;
      float: left;
    }
  }
  &::after {
    @include clearfix;
  }
}
