// Wireframing
*:not(body):not(html) {
  box-sizing: border-box;
  border: 1px solid grey;
}

// Body columns
.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  background-color: #eee;
  &::after {
    @include clearfix;
  }
}

.blog-main {
  @media screen and (min-width: $medium-breakpoint) {
    width: 70%;
    float: left;
  }
}

.sidebar {
  @media screen and (min-width: $medium-breakpoint) {
    width: 30%;
    float: right;
  }
}
