
.header {
  background-color: $off-black;
  .header-image {
    img {
      width: 100%;
    }
  }
  ul {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    li {
      float: left;
      list-style: none;
      margin: 10px 1%;
      width: 31.33%;
      background-color: $white;
    }
    @media screen and (min-width: $medium-breakpoint) {
      width: 100%;
      li {
        width: 29.33%;
        margin: 10px 2%;
      }
    }
    @media screen and (min-width: $large-breakpoint) {
      width: 50%;
    }
  }
}
