.sidebar {
  h2 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .profile-pic {
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  @media screen and (min-width: $medium-breakpoint) {
    width: 25%;
    float: right;
  }
  ul {
    li {
      list-style: none;
    }
  }
}

.archive {
  .months {
    display: none;
  }
}
