.sidebar {
  h2 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .profile-pic {
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  @media screen and (min-width: $medium-breakpoint) {
    width: 25%;
    float: right;
  }
  ul {
    li {
      list-style: none;
    }
  }
}

.categories {
  .category-items {
    width: 230px;
    margin: 10px;
    img {
      border: 1px solid grey;
      width: 70px;
    }
  }
}

.archive {
  margin-bottom: 20px;
  .months {
    display: none;
    margin-top: 0;
  }
}

.widget {
  border: 1px solid grey;
  padding: 50px 10px;
}
